body {
  background: black;
  color: white;
  margin:0;
  max-width: 100%;
}


header a {
    text-decoration: none;
    color: inherit;
}

header a:hover {
    opacity: 0.8; 
}

.dark-mode {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 64px;
  font-family: Arial, sans-serif;
}

.filter-buttons button {
  margin: 5px;
  padding: 8px 15px;
  border: none;
  background: #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.filter-buttons .active {
  background-color: #007bff;
  color: #fff;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.card {
  background-color: grey;
  width: 200px;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  transition: transform 0.3s;
}

.card img {
  padding: 10px;
}

.card:hover {
  transform: scale(1.05);
}

.card a {
  color: #007bff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;

}

.card a:hover {
  cursor: pointer;
}

.avatar {
  width: 100px;
  border-radius: 50%;
}

.pagination {
  margin-top: 30px;
}

footer {
  margin-top: 40px;
  font-size: 14px;
}

details .Ssummary {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
  list-style-type: none;
  font-size: 18px;
}

details[open] .Ssummary {
  color: #00a6ff;
}

.meu-button {
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  margin: 5px;
  background-color: #dddddd;
}